<?xml version="1.0" encoding="UTF-8"?>
<opml version="2.0">
    <body>
        <outline title="Philosopher Blog" text="Philosopher's Blog" xmlUrl="https://aphilosopher.drmcl.com/feed" htmlUrl="https://aphilosopher.drmcl.com/"></outline>
        <outline title="American Philosophical Association" text="American Philosophical Association" xmlUrl="https://blog.apaonline.org/feed" htmlUrl="https://blog.apaonline.org/"></outline>

        <outline text="Photography">
            <outline title="Burn Magazine" text="Burn Magazine" xmlUrl="https://www.burnmagazine.org/feed/" htmlUrl="https://www.burnmagazine.org"></outline>
            <outline title="Magnum Photos" text="Magnum Photos" xmlUrl="https://www.magnumphotos.com/feed/" htmlUrl="https://www.magnumphotos.com"></outline>
        </outline>

        <outline text="Literature">
            <outline title="The Book Haven" text="The Book Haven" xmlUrl="https://bookhaven.stanford.edu/feed" htmlUrl="https://bookhaven.stanford.edu/"></outline>
            <outline title="Book Riot" text="Book Riot" xmlUrl="https://bookriot.com/feed" htmlUrl="https://bookriot.com"></outline>
            <outline title="The Write Life" text="The Write Life" xmlUrl="https://thewritelife.com/feed" htmlUrl="https://thewritelife.com/"></outline>
            <outline title="The Los Angeles Review of Books" text="The Los Angeles Review of Books" xmlUrl="https://lareviewofbooks.org/feed/?ver=2 " htmlUrl="https://thewritelife.com/"></outline>
        </outline>

        <outline text="Science">
            <outline title="Science Daily" text="Science Daily" xmlUrl="https://www.sciencedaily.com/rss/space_time/black_holes.xml" htmlUrl="https://www.sciencedaily.com"></outline>
        </outline>

        <outline text="Varia">
            <outline title="Nautilus" text="Nautilus" xmlUrl="https://nautil.us/feed/" htmlUrl="https://nautil.us/"></outline>
            <outline title="Farnam Street" text="Farnam Street" xmlUrl="https://fs.blog/feed/" htmlUrl="https://fs.blog"></outline>
            <outline title="Idle Words" text="Idle Words" xmlUrl="https://idlewords.com/index.xml" htmlUrl="http://idlewords.com"></outline>
        </outline>

    </body>
</opml>
